/*===================================
                公共样式
=====================================*/
body {
    font-family: '微软雅黑', sans-serif;
}

#download {
}

/*===================================
                nav
=====================================*/
.navbar-default {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 2px 8px 0px rgba(50, 50, 50, 0.25);
}

.navbar-header a.navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: #40d2b1;
    height: 70px;
    line-height: 35px;
}

.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    line-height: 35px;
}

.navbar-default .navbar-toggle:hover {
    background-color: #40d2b1;
    border-color: #40d2b1;
}

.navbar-default .navbar-toggle {
    margin-top: 17px;
}

/*===================================
                home
=====================================*/
#home {
    background: url("../img/home-bg.jpg") no-repeat;
    background-size: cover;
    color: #ffffff;
    margin-top: 70px;
    text-align: center;
    width: 100%;
}

#home .filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 90px 0;
}

#home .filter h1 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 25px;
}

#home p {
    font-weight: 400;
    line-height: 35px;
}

#home img {
    display: inline-block;
    margin-top: 30px;
}

/*===================================
                bbs
=====================================*/
#bbs {
    padding: 80px 0;
    text-align: center;
}

#bbs .col-md-4:hover {
    padding: 15px;
    background: #f1f1f1;
    box-shadow: 1px 1px 4px #ccc;
}

#bbs .col-md-4 {
    padding: 15px;
}

#bbs a {
    color: #333;
}

#bbs a:hover {
    text-decoration: none;
}

#bbs img {
    margin: 0 auto;
}

#bbs h3 {
    font-weight: bold;
}

/*===================================
                html5
=====================================*/

#html5 {
    background-color: #f8f8f8;
    padding: 80px 0;
}

#html5 h2 {
    font-weight: bold;
}

#html5 p {
    line-height: 40px;
}

#html5 p span {
    background-color: #40d2b1;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-right: 15px;
}

/*===================================
                Bootstrap
=====================================*/
#bootstrap {
    padding: 80px 0;
}

#bootstrap h2 {
    font-weight: bold;
}

#bootstrap p {
    line-height: 25px;
}

#bootstrap p span {
    background-color: #40d2b1;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-right: 15px;
}

/*===================================
                course
=====================================*/

#course {
    background-color: #f8f8f8;
    padding: 80px 0;
    text-align: center;
}

#course h2 {
    font-weight: bold;
    padding-bottom: 60px;
}

.course {
    width: 100%;
    background-color: #fff;
}

#course a.btn.btn-default {
    background: transparent;
    border: 1px solid #40d2b1;
    border-radius: 0px;
    color: #40d2b1;
    margin: 20px 0;
}

#course .col-md-3 {
    padding-right: 0;
    padding-bottom: 15px;
}

/*===================================
                download
=====================================*/
#download {
    padding: 80px 0;
}

#download h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

#download p {
    line-height: 20px;
    margin-bottom: 20px;
}

#download .btn-primary {
    background-color: #40d2b1;
    border-radius: 0;
    border: 1px solid #40d2b1;
    transition: all .5s
}

#download .btn-primary:hover {
    background: rgb(64, 140, 120);
    border-radius: 0;
    border: 1px solid #40d2b1;
}

/*===================================
                download
=====================================*/
#contact {
    background: url("../img/contact-bg.png") no-repeat;
    background-size: cover;
    color: #ffffff;
}

#contact h2 {
    font-weight: bold;
    padding-bottom: 25px;
    margin-top: 0;
}

#contact p {
    line-height: 30px;
}

#contact address span {
    padding-right: 10px;
}

#contact .filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 90px 0;
}

#contact .form-control {
    border-radius: 0;
    height: 50px;
    margin-bottom: 20px;
}

#contact textarea.form-control {
    height: auto;
}

#contact input[type="submit"] {
    background: #40d2b1;
    color: #fff;
    font-weight: bold;
    transition: all .5s;
    border: 1px solid #40d2b1;

}

#contact input[type="submit"]:hover {
    background: rgb(64, 140, 120);
}

/*===================================
                footer
=====================================*/
footer {
    padding: 20px;
}
